body {
    background: rgb(212, 213, 214);
  }

section {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}