body {
    background: rgb(212, 213, 214);
    font-style: oblique;
    
  }

header {
    width: auto;
    padding-left: 0%;
    padding-right: 0%;
    
}

#welcome {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;

}