body {
    background: rgb(212, 213, 214);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
  }

#welcome {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
width: 80%;
max-width: 1200px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}

#navbar .nav-list{
    list-style: none;
    display: flex;
}

.nav-link{
    text-decoration: none;

}

.nav-i{
    margin-left: 20px;
}
